# Ignore VS folder
.vs/

# Ignore Python virtual environments
venv/

# Ignore Python cache
__pycache__/
*/__pycache__/

# Ignore database instance
instance/
*.db

# Ignore system files
.DS_Store
Thumbs.db
