{% extends 'base.html' %}

{% block content %}
<section>
    <div>Hello {{current_user.name}}</div>

    <table>
        <tr>
            <th>name</th>
            <th>budget</th>
            <th>status</th>
            <th>destination</th>
        </tr>
        {% for proposal in trip_proposals %}
        <tr>
            <td>{{proposal.name}}</td>
            <td>{{proposal.budget}}</td>
            <td>{{proposal.status.name}}</td>
            <td>{{proposal.destination.name }}</td>
            <td><a href="{{ url_for('main.tripDetails', trip_proposal_id=proposal.id) }}">Details</a></td>
        </tr>
        {% endfor %}

    </table>
</section>
{% endblock %}
