{% extends "base.html" %}

{% block content %}
<h2>{{ trip.name }}</h2>

<p><strong>Departure:</strong> {{ trip.departure_location.name }}</p>
<p><strong>Destination:</strong> {{ trip.destination_location.name }}</p>
<p><strong>Budget:</strong> ${{ trip.budget }}</p>
<p><strong>Max Members:</strong> {{ trip.max_members }}</p>
<p><strong>Current Members:</strong> {{ trip.participants|length }}</p>
<p><strong>Activities:</strong></p>
<ul>
{% for activity in trip.activities %}
    <li>{{ activity.name }}</li>
{% endfor %}
</ul>


{% if can_join %}
<form action="{{ url_for('main.join_trip', trip_id=trip.id) }}" method="POST">
    <button type="submit">Join Trip</button>
</form>
{% elif can_edit %}
<a href="{{ url_for('main.edit_trip', trip_id=trip.id) }}">Edit</a>
{% endif %}{% if is_participant %}
<p>You already joined this trip.</p>
<a href="{{ url_for('main.chat_trip', trip_id=trip.id) }}">Chat with the others</a>
{% endif %}
{% endblock %}
